<!-- user variable, action variable -->
<form method="post" action="<%= locals[:action] %>">
  <%= auth_token %>
  <label>Name
    <input type="text" name="user[name]" value="<%= locals[:user].name %>">
  </label>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <button>Submit</button>
</form>
